.catalog {
    &__control-next-icon,
    &__control-prev-icon {
        width: 25px;
        height: 35px;
        background-image: none;
    }

    &__control-prev-icon {
        transform: rotate(180deg);
    }

    &__control-next,
    &__control-prev {
        opacity: 1;
    }

    &__inner {
        border-radius: 10px;
    }

    &__indicators {
        position: static;
        justify-content: space-between;
        margin: 0;
    }

    &__indicators [data-bs-target] {
        background: #ffffff00;
        width: auto;
        height: auto;
        margin: 17px 17px 0 0;
        border: 0;
        opacity: 1;
        &:last-child {
            margin-right: 0;
        }
        & img {
            border-radius: 10px;
            border: 3px solid #ffffff00;
        }
    }

    &__indicators .active {
        & img {
            border: 3px solid #ee6f3b;
        }
    }

    &__background {
        background: linear-gradient(106.01deg, #f2f2f2 10.92%, #faf7f7 84.54%);
    }

    &__container {
        padding-top: 36px;
        margin-bottom: 45px;
    }

    &__title {
        font-size: 24px;
        margin-bottom: 15px;
    }

    &__parameters {
        margin-bottom: 15px;
        & li {
            font-size: 18px;
            line-height: 22px;
        }
    }

    &__reception {
        margin-bottom: 15px;
        font-size: 18px;
    }

    &__price {
        display: flex;
        margin-bottom: 15px;
        & div {
            display: flex;
            flex-direction: column;
            width: 50%;
            font-size: 16px;
            & p {
                font-weight: 600;
            }
            & p:first-child {
                font-size: 12px;
                @media (min-width: 400px) {
                    font-size: 16px;
                }
            }
            & p:last-child {
                font-size: 25px;
                @media (min-width: 576px) {
                    font-size: 40px;
                }
                @media (min-width: 1400px) {
                    font-size: 48px;
                }
            }
        }
    }
    &__sale {
        color: #6d6461;
        & p:first-child {
            font-size: 12px;
            @media (min-width: 400px) {
                font-size: 16px;
            }
        }
        & p:last-child {
            font-weight: 300;
        }
    }

    &__form {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        & input {
            text-align: center;
            font-weight: 600;
            font-size: 14px;
            color: #4f4f4f;
            border: 1px solid #000000;
            border-bottom: 0;
            border-radius: 10px 10px 0px 0px;
            height: 55px;
            width: 100%;
            @media (min-width: 500px) {
                border-bottom: 1px solid #000000;
                border-right: 0;
                border-radius: 10px 0px 0px 10px;
                width: 55%;
            }
            &::-webkit-input-placeholder {
                text-align: center;
                font-weight: 600;
                font-size: 14px;
                color: #4f4f4f;
            }
            &::-moz-placeholder {
                text-align: center;
                font-weight: 600;
                font-size: 14px;
                color: #4f4f4f;
            }
            &:-moz-placeholder {
                text-align: center;
                font-weight: 600;
                font-size: 14px;
                color: #4f4f4f;
            }
            &:-ms-input-placeholder {
                text-align: center;
                font-weight: 600;
                font-size: 14px;
                color: #4f4f4f;
            }
        }
        & button {
            border-radius: 0px 0px 10px 10px;
            width: 100%;
            padding: 1px 2px;
            @media (min-width: 500px) {
                border-radius: 0px 10px 10px 0px;
                width: 45%;
            }
        }
    }
    &__margin {
        margin-bottom: 42px;
    }
}
