.certificates {
    &__text {
        & h3 {
            font-size: 24px;
            margin-bottom: 20px;
        }
        & ul {
            font-size: 18px;
            line-height: 22px;
            margin-bottom: 20px;
        }
        & h4 {
            font-size: 18px;
        }
        & p {
            font-size: 16px;
            margin-bottom: 12px;
            &:last-child {
                margin-bottom: 45px;
            }
        }
    }

    &__img {
        & div {
            display: flex;
            justify-content: center;
            margin-bottom: 45px;
            & picture {
                max-width: 350px;
                & img {
                    width: 100%;
                }
            }
        }
    }
}
